[submodule "jscl"]
	path = src/lib/jscl
	url = git@github.com:romance-ii/jscl
	branch = toots
[submodule "babylon.js"]
	path = src/lib/babylon.js
	url = git@github.com:romance-ii/Babylon.js
	branch = toots
[submodule "alexandria"]
	path = src/lib/alexandria
	url = git@github.com:romance-ii/alexandria.git
[submodule "cl-selenium-webdriver"]
	path = src/lib/src/lib/cl-selenium-webdriver
	url = git@github.com:TatriX/cl-selenium-webdriver.git
