[submodule "glitch-avatars"]
	path = art/game/glitch/avatars
	url = git@github.com:romance-ii/glitch-avatars.git
[submodule "glitch-items"]
	path = art/game/glitch/items
	url = git@github.com:romance-ii/glitch-items.git
[submodule "glitch-locations"]
	path = art/game/glitch/locations
	url = git@github.com:romance-ii/glitch-locations.git
[submodule "glitch-overlays"]
	path = art/game/glitch/overlays
	url = git@github.com:romance-ii/glitch-overlays.git
[submodule "lost-garden"]
	path = art/game/lost-garden
	url = git@github.com:romance-ii/lost-garden.git
[submodule "kenney-donation"]
	path = art/game/kenney-donation
	url = git@github.com:romance-ii/kenneydonation.git
[submodule "UnrealEngine"]
	path = UnrealEngine
	url = git@github.com:EpicGames/UnrealEngine
