# Backup, temp files
tmp.*
*.tmp
temp-*
*~
*.bak
*.orig
*#
dumper*.lisp
DEADJOE
*.fasl


# Deployment packages
*.apk
*.i386.rpm
*.i686.rpm
*.x86_64.rpm
setup-*.exe
*.msi
*.deb
*.war
dist/*
.emacs.desktop
.emacs.desktop.lock
build/
