# Backup, temp files
tmp.*
*.tmp
tmp?
temp-*
*~
*.bak
*.orig
*#
dumper*.lisp
DEADJOE
*.fasl

# Deployment packages
*.apk
*.i386.rpm
*.i686.rpm
*.x86_64.rpm
setup-*.exe
*.msi
*.deb
*.war
dist/*

# Editor working files
.emacs.desktop
.emacs.desktop.lock
.settings
.workspace

# Build temp files
build/

# Compilation target
tootstest.cgi

# Compiled CSS files from LESS sources
static/css/*.css


