Options ExecCGI SymLinksIfOwnerMatch
AddHandler fastcgi-script .cgi

AcceptPathInfo On
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://tootsville.adventuring.click%{REQUEST_URI} [R=301,L]

RewriteRule ^tootstest/(.*)$ tootstest.cgi/%1 [QSA,L]
RewriteRule ^[Pp][Ll][Aa][Yy].* tootstest.cgi/login [QSA,L]

RewriteRule ^wikiwiki/(.*)$ https://wikiwiki.tootsville.adventuring.click/wikiwiki/%1 [QSA,L]

Header always set X-Frame-Options SAMEORIGIN

