language: lisp
sudo: required

git:
  submodules: false

env:
  matrix:
    - LISP=sbcl

before_install:
  - echo "Changing submodule pointers to use HTTPS URL's for Travis"
  - sed -e 's#git@github.com:#https://github.com/#' -i .gitmodules
  - git submodule sync
  - echo "Updating submodules"
  - git submodule update --init --recursive
  - echo "Installing UglifyJS"
  - sudo apt-get update
  - sudo apt-get install -y npm
  # NB. NPM now installs  the breaking, backward-incompatible, Î±-quality
  # version  3 by  default,  which  is *not*  what  we  want. Trying  to
  # convince it to load the latest v2.* here.
  - npm install -g uglify-js@2

install:
  - curl -L https://github.com/luismbo/cl-travis/raw/master/install.sh | sh
  - sh -c 'make deps || true'
#  - bin/ensure-sane-sbcl

script:
  - make
  - make test
  
addons:
  srcclr: true
