* {
    box-model: border-box;
}

div, section, form, fieldset {
    overflow: hidden;
    border: 0px solid transparent;
    background-color: transparent;
    margin: 0; padding: 0;
}

a:link {
    color: @indigo;
}
a:visited {
    color: @violet;
}
a:hover {
    color: @burgundy;
    text-decoration: underline;
}


p {
    text-indent: 1rem;
    text-align: justify;
    margin-left: 3rem;
    margin-right: 1rem;
    padding: 0;
    font-size: 1rem;
    font-family: Cantarell, serif;
}

tt,pre {
    font-family: Inconsolata, fixed;
}

ul {
    font-family: Cantarell, serif;
}

strong {
    font-weight: bold;
    color: @indigo;
    font-family: Acme, sans-serif;
}

em {
    font-style: roman;
    font-family: Acme, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    color: @indigo;
}

h1,h2,h3 {
    margin-left: 0;
    margin-right: 1rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

h3, h4 {
    margin-top: 1rem;
    font-size: 1rem;
}

h4 {
    margin-left: 3rem;
    margin-right: 1rem;
}

h5 {
    font-size: 1rem;
    display: inline-block;
    padding-right: 2rem;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    display: inline-block;
    padding-right: 2rem;
}

h1:first-child, h2:first-child, h3:first-child, h1 + h2, h2 + h3, h3 + h4 {
    margin-top: 0;
}

t, pre {
    font-family: Inconsolata, fixed;
}

dl>dd {
    font-family: Cantarell, serif;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
