@import url("https://fonts.googleapis.com/css?family=Acme&name=Acme.css");
@import url("https://fonts.googleapis.com/css?family=Cantarell&name=Cantarell.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&name=Inconsolata.css");
@charset "UTF-8";
@import "palette.less";
@import "common.less";
@import "speech.less";
@import "main-nav.less";
@import "login-coppa.less";
@import "login.less";
@import "help.less";
@import "html+body.less";
@import "game.less";


nav a:link, nav a:visited {
    border: 1pt solid black;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    color: white;
    .outline;
}

nav a[href ~= "https://www.tootsville.org/"] {
    background-color: @violet;
}

nav a[href ~= "https://www.tootsbook.com/"] {
    background-color: @indigo;
}

nav a[href ~= "https://wikiwiki.tootsville.adventuring.click/"] {
    background-color: @green;
}

nav a:hover {
    box-shadow:
    -.2rem -.2rem 0 @gold,
    .2rem -.2rem 0 @gold,
    -.2rem .2rem 0 @gold,
    .2rem .2rem 0 @gold;
    color: @gold;
}

#watermark {
    height: 2rem;
    width: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    padding: 1rem;
    font-size: .666rem;
    background-color: rgba(0,0,0,.25);
    border-radius: 2rem 0 0 0;
}


#IGNORED {
    h1 {
        position: relative;
        left: 1rem;
        top: -1rem;
        font-size: 3rem;
        margin: 0 0 0 -1rem;
    }

    h1 > img {
        height:   6rem;
        top:   0;
        position:   fixed;
    }

    #overlay > h2 {
        position: relative;
        left: 1rem;
        top: -1rem;
        font-size: 1.5rem;
        margin: 0 0 0 -1rem;
    }

    #overlay button {
        background-color: #336;
    }

    #overlay > h2 {
        left: 2rem;
        font-size: 2rem;
    }

}

.outline {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#game-welcome {
    display: none;
}

#welcome-photo {
    border: 0px solid black;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
}

#game-welcome>section {
    border: 1pt solid #ddd;
    padding: .25rem;
    margin: .25rem;
    width: calc(50% - 2rem);
    display: inline-block;
    height: max(10rem, calc(100vh - 5rem));
}

.info-box {
    display: inline-block;
    width: calc(100% / 3 - 2rem);
    border: 2pt solid #111;
    margin: .25rem;
    padding: 0;
    height: 10rem;
}

.info-box>h3 {
    background-color: @charcoal;
    color: #ddd;
    text-align: center;
    padding: 1rem;
    text-height: 2rem;
    width: calc(100% - 2rem);
    height: 2rem;
    margin: 0;
}

.info-box > p {
    color: @charcoal;
    font-family: Cantarell, serif;
    padding: 1rem;
    text-indent: none;
    text-align: center;
    margin: 0;
}

.info-box>a:link {
    color: #339;
    font-weight: bold;
}

section>iframe:first-child {
    height: 100%;
    width: 100%;
    border: none;
}

button, input[type=button], input[type=submit], input[type=clear] {
    border: 2pt solid @silver;
    background-color: rgba(128,128,192,0);
    color: @silver;
    font-family: Cantarell, serif;
    transition: .5s;
    margin: .25rem;
    min-width: 1cm;
    min-height: 1cm;
    cursor: pointer;
    .noselect;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=clear]:hover,
button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=clear]:active
{
    border: 2pt solid white;
    background-color: (@periwinkle - rgba(0,0,0,0.5));
    color: white;
    .outline;
}

#welcome-signin {
    display: inline-block;
    height: ~'min(90vh, 14rem)';
    width: calc(50% - 2rem);
}

#welcome-news {
    display: inline-block;
    height: ~'min(90vh, 14rem)';
    width: calc(50% - 2rem);
}

#welcome-news h1 {
    font-size: 1.5rem;
}

#welcome-news h2 {
    font-size: 1rem;
}

#welcome-news dd {
    font-size: .8em;
}

p {
    color: @charcoal;
    font-family: Cantarell, serif;
    text-indent: 2rem;
    text-align: justify;
    margin: 0 3rem 0 0;
    max-width: 40rem;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p, div+p, section+p {
    text-indent: 0;
}

@media only screen and (max-width: 1023px) {
    #IGNORED-overlay {
        margin: 0;
        padding: 1rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }
}

.invisible {
    display: none;
}
