{% extends "layouts/blank.html" %}
{% block title %}Version {{ product }} {{ build-date }}{% endblock %}
{% block body %}

<h1> Tootsville Gossipnet Server </h1>

<h2> Server Process </h2>

<p> The Gossipnet server product is <tt id="product">{{ product }}</tt>,
  version        <tt       id="version">{{        version       }}</tt>,
  compiled <span id="build-date">{{ build-date }}</span>. </p>
<p> I am running on  a <span id="machine-type">{{ machine.type }}</span>
  machine, version
  <span      id="machine-version">{{     machine.version      }}</span>,
  named   <span  id="machine-instance">{{   machine.instance  }}</span>.
  Its system software is <span id="software-type">{{ software.type }}</span>, version
  <span id="software-version">{{  software.version }}</span>.  My Common
  Lisp implementation is <span id="lisp-type">{{ lisp.type }}</span>,
  version <span id="lisp.version">{{ lisp.version }}</span>.</p>

<p id="copyright-disclaimer">  Copyright © 2004-{{  copyright-latest }},
  Bruce-Robert Fenn Pocock. All Rights  Reserved except as granted under
  license. </p>


<h2> <img src="https://www.gnu.org/graphics/agplv3-155x51.png"
          alt="AGPLv3">License </h2>

<p> This program is free software: you can redistribute it and/or modify
  it             under              the             terms             of
  the   <a  href="https://www.gnu.org/licenses/agpl-3.0-standalone.html"
  id="license">GNU Affero General Public License</a> as published by the
  Free Software Foundation, either version 3 of the License, or (at your
  option) any later version. </p>

<p id="warranty"> This  program is distributed in the hope  that it will
  be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
  of   MERCHANTABILITY   or   FITNESS    FOR   A   PARTICULAR   PURPOSE.
  See <a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html">the
  GNU Affero General Public License</a> for more details. </p>

<p>   You  can   review   or   download  the   source   code  for   this
  software  <a  href="https://github.com/romance-ii/violet-volts">on
    GitHub</a> at your convenience. </p>

<p> Continuous integration testing courtesy of
  <a rel="continuous-integration"
     href="https://travis-ci.org/romance-ii/violet-volts">Travis-CI</a>.
  &nbsp; 
  <img
    src="https://api.travis-ci.org/romance-ii/violet-volts.svg?branch=tootstest"> </p>

<h2> Power of Freedom </h2>

<p> {{product}} is made with these free software components </p>

<div class="nascar">

  <img src="https://fedorahosted.org/design-team/raw-attachment/ticket/436/sticker%20%232.png"
       title="Choose Freedom. Choose Fedora."
       style="height: 14rem; float: right;">

  <img src="http://www.lisperati.com/lisplogo_fancy_256.png"
       title="Lisp. Caution: Made with Secret Alien Technology">

  <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Emacs-logo.svg"
       title="GNU Emacs">

  <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"
       title="GNU Linux">

  <img src="http://www.babylonjs.com/assets/Logo.svg"
       title="Babylon.js">

  <img src="https://upload.wikimedia.org/wikipedia/commons/3/3c/Logo_Blender.svg"
       title="Blender">

  <img src="https://www.gimp.org/images/frontpage/wilber-big.png"
       title="The Gimp">

  <img src="https://www.mozilla.org/media/img/home/voices/mozilla-wordmark-white.20d134cd8af7.png"
       title="Mozilla Foundation">

  <img src="https://www.gnu.org/graphics/bahlon/3d-gnu-head.jpg"
       title="Gnu's Not Unix">

  <img src="https://camo.githubusercontent.com/357343e823b1c8d37418edce5ac401832eda2d27/68747470733a2f2f776562746f7272656e742e696f2f696d672f576562546f7272656e742e706e67"
       title="WebTorrent">
  
</div>

{% endblock %}
